[parameters]
name=Phreeze Unit Test Harness using PHPUnit
description=Unit testing harness for PHPUnit

# files is a tab-delimited list. columns = souce_file, destination_file, generate_mode
# generate_mode: 0 = generate file for each table, 1 = generate single file, 2 = copy file as-is

[files]
phreeze.phpunit/test/bootstrap.php	test/bootstrap.php	2
phreeze.phpunit/test/coverage.sh	test/coverage.sh	2
phreeze.phpunit/test/index.html	test/index.html	2
phreeze.phpunit/test/phpunit.xml	test/phpunit.xml	2
phreeze.phpunit/test/README.MD	test/README.MD	2
phreeze.phpunit/test/runner.sh	test/runner.sh	2
phreeze.phpunit/test/lib/BaseTestClass.php	test/lib/BaseTestClass.php	2
phreeze.phpunit/test/lib/OverrideController.php	test/lib/OverrideController.php	2
phreeze.phpunit/test/lib/TestObserver.php	test/lib/TestObserver.php	2
phreeze.phpunit/test/lib/VerboseTestResultPrinter.php	test/lib/VerboseTestResultPrinter.php	2
phreeze.phpunit/test/Tests/AllTests.php	test/Tests/AllTests.php	2
phreeze.phpunit/test/Tests/ControllerTests.php.tpl	test/Tests/{$singular}Tests.php	0
phreeze.phpunit/test/Tests/DefaultTests.php	test/Tests/DefaultTests.php	2
phreeze.phpunit/test/Tests/RouterTests.php	test/Tests/RouterTests.php	2
phreeze.phpunit/test/Tests/SeleniumExampleTests.php	test/Tests/SeleniumExampleTests.php	2