[parameters]
name=Phreeze DAO Model Files Only
description=Update to DAO files only, which can be run when the schema changes without overwriting custom code

# files is a tab-delimited list. columns = souce_file, destination_file, is_single
# (if is_single = 1 then a single file will be generated, otherwise a file will be generated for each table)
[files]
phreeze.php/libs/Model/DAO/ModelDAO.php.tpl	libs/Model/DAO/{$singular}DAO.php	0
phreeze.php/libs/Model/DAO/ModelCriteriaDAO.php.tpl	libs/Model/DAO/{$singular}CriteriaDAO.php	0
phreeze.php/libs/Model/DAO/ModelMap.php.tpl	libs/Model/DAO/{$singular}Map.php	0
phreeze.backbone/scripts/model.js.tpl	scripts/model.js	1