[parameters]
name=Phreeze Criteria DAO Compatibility File
description=Add backwards compatibility with apps built prior to Criteria DAO

# files is a tab-delimited list. columns = souce_file, destination_file, is_single
# (if is_single = 1 then a single file will be generated, otherwise a file will be generated for each table)
[files]
phreeze.php/libs/Model/DAO/Criteria.php.tpl	libs/Model/DAO/{$singular}Criteria.php	0