[parameters]
name=Phreeze Unit Test Harness using QUnit
description=Unit testing harness for qunit

# files is a tab-delimited list. columns = souce_file, destination_file, generate_mode
# generate_mode: 0 = generate file for each table, 1 = generate single file, 2 = copy file as-is

[files]
phreeze.qunit/qunit/index.html.tpl	qunit/index.html	1
phreeze.qunit/qunit/qunit.css	qunit/qunit.css	2
phreeze.qunit/qunit/qunit.js	qunit/qunit.js	2
phreeze.qunit/qunit/tests/modelTests.js.tpl	qunit/tests/{$singular|lower}Tests.js	0
