[parameters]
name=Phreeze App with Smarty Template Engine
description=A Full PHP Phreeze Application Using Backbone, Smarty & Bootstrap

# files is a tab-delimited list. columns = souce_file, destination_file, generate_mode
# generate_mode: 0 = generate file for each table, 1 = generate single file, 2 = copy file as-is, 3 = phar package

[files]
phreeze.backbone/bootstrap/css/bootstrap-combobox.css	bootstrap/css/bootstrap-combobox.css	2
phreeze.backbone/bootstrap/css/datepicker.css	bootstrap/css/datepicker.css	2
phreeze.backbone/bootstrap/css/timepicker.css	bootstrap/css/timepicker.css	2
phreeze.backbone/bootstrap/css/bootstrap-responsive.min.css	bootstrap/css/bootstrap-responsive.min.css	2
phreeze.backbone/bootstrap/css/bootstrap.min.css	bootstrap/css/bootstrap.min.css	2
phreeze.backbone/bootstrap/css/font-awesome.min.css	bootstrap/css/font-awesome.min.css	2
phreeze.backbone/bootstrap/css/font-awesome-ie7.min.css	bootstrap/css/font-awesome-ie7.min.css	2
phreeze.backbone/bootstrap/font/fontawesome-webfont.eot	bootstrap/font/fontawesome-webfont.eot	2
phreeze.backbone/bootstrap/font/fontawesome-webfont.svg	bootstrap/font/fontawesome-webfont.svg	2
phreeze.backbone/bootstrap/font/fontawesome-webfont.svgz	bootstrap/font/fontawesome-webfont.svgz	2
phreeze.backbone/bootstrap/font/fontawesome-webfont.ttf	bootstrap/font/fontawesome-webfont.ttf	2
phreeze.backbone/bootstrap/font/fontawesome-webfont.woff	bootstrap/font/fontawesome-webfont.woff	2
phreeze.backbone/bootstrap/img/calendar.png	bootstrap/img/calendar.png	2
phreeze.backbone/bootstrap/img/glyphicons-halflings-white.png	bootstrap/img/glyphicons-halflings-white.png	2
phreeze.backbone/bootstrap/img/glyphicons-halflings.png	bootstrap/img/glyphicons-halflings.png	2
phreeze.backbone/bootstrap/js/bootstrap-combobox.js	bootstrap/js/bootstrap-combobox.js	2
phreeze.backbone/bootstrap/js/bootstrap-datepicker.js	bootstrap/js/bootstrap-datepicker.js	2
phreeze.backbone/bootstrap/js/bootstrap-timepicker.js	bootstrap/js/bootstrap-timepicker.js	2
phreeze.backbone/bootstrap/js/bootstrap.min.js	bootstrap/js/bootstrap.min.js	2
phreeze.backbone/bootstrap/LICENSE	bootstrap/LICENSE	2
phreeze.backbone/images/apple-touch-icon-114-precomposed.png	images/apple-touch-icon-114-precomposed.png	2
phreeze.backbone/images/apple-touch-icon-57-precomposed.png	images/apple-touch-icon-57-precomposed.png	2
phreeze.backbone/images/apple-touch-icon-72-precomposed.png	images/apple-touch-icon-72-precomposed.png	2
phreeze.backbone/images/favicon.ico	images/favicon.ico	2
phreeze.backbone/libs/phreeze-3.3.8.phar	libs/phreeze-3.3.8.phar	3
phreeze.backbone/libs/Controller/DefaultController.php.tpl	libs/Controller/DefaultController.php	1
phreeze.backbone/libs/Controller/Controller.php.tpl	libs/Controller/{$singular}Controller.php	0
phreeze.backbone/libs/Controller/AppBaseController.php.tpl	libs/Controller/AppBaseController.php	1
phreeze.backbone/libs/Controller/SecureExampleController.php	libs/Controller/SecureExampleController.php	2
phreeze.php/libs/App/ExampleUser.php	libs/App/ExampleUser.php	2
phreeze.php/libs/Model/Model.php.tpl	libs/Model/{$singular}.php	0
phreeze.php/libs/Model/Criteria.php.tpl	libs/Model/{$singular}Criteria.php	0
phreeze.php/libs/Model/DAO/ModelCriteriaDAO.php.tpl	libs/Model/DAO/{$singular}CriteriaDAO.php	0
phreeze.php/libs/Model/DAO/ModelDAO.php.tpl	libs/Model/DAO/{$singular}DAO.php	0
phreeze.php/libs/Model/DAO/ModelMap.php.tpl	libs/Model/DAO/{$singular}Map.php	0
phreeze.php/libs/Reporter/Reporter.php.tpl	libs/Reporter/{$singular}Reporter.php	0
phreeze.backbone/scripts/app.js	scripts/app.js	2
phreeze.backbone/scripts/model.js.tpl	scripts/model.js	1
phreeze.backbone/scripts/app/objectname.js.tpl	scripts/app/{$plural|lower}.js	0
phreeze.backbone/scripts/view.js	scripts/view.js	2
phreeze.backbone/scripts/libs/backbone-min.js	scripts/libs/backbone-min.js	2
phreeze.backbone/scripts/libs/LAB.min.js	scripts/libs/LAB.min.js	2
phreeze.backbone/scripts/libs/underscore-min.js	scripts/libs/underscore-min.js	2
phreeze.backbone/scripts/libs/underscore.date.min.js	scripts/libs/underscore.date.min.js	2
phreeze.backbone/styles/style.css	styles/style.css	1
phreeze.backbone/templates/DefaultError404.tpl.tpl	templates/DefaultError404.tpl	1
phreeze.backbone/templates/DefaultErrorFatal.tpl.tpl	templates/DefaultErrorFatal.tpl	1
phreeze.backbone/templates/DefaultHome.tpl.tpl	templates/DefaultHome.tpl	1
phreeze.backbone/templates/SecureExample.tpl.tpl	templates/SecureExample.tpl	1
phreeze.backbone/templates/Master.tpl.tpl	templates/Master.tpl	1
phreeze.backbone/templates/ListView.tpl.tpl	templates/{$singular}ListView.tpl	0
phreeze.backbone/templates_c/index.html	templates_c/index.html	2
phreeze.backbone/_app_config.php.tpl	_app_config.php	1
phreeze.backbone/_global_config.php.tpl	_global_config.php	1
phreeze.backbone/_machine_config.php.tpl	_machine_config.php	1
phreeze.backbone/.htaccess.tpl	.htaccess	2
phreeze.backbone/index.php.tpl	index.php	1
phreeze.backbone/composer.json	composer.json	2
phreeze.backbone/web.config.tpl	web.config	2
