[parameters]
name=Phreeze Reporter Stub
description=Generate a stub Reporter class

# files is a tab-delimited list. columns = souce_file, destination_file, is_single
# (if is_single = 1 then a single file will be generated, otherwise a file will be generated for each table)
[files]
phreeze.php/libs/Reporter/Reporter.php.tpl	libs/Reporter/{$singular}Reporter.php	0