/*!
 * style overrides and customizations
 */

/* note that this gets overridden by bootstrap-responsive.min.css when screen size changes */
body {
	padding-top: 65px;
	padding-bottom: 40px;
}

a.brand img {
	margin: -8px 0px -8px 0px;
}

h1 {
	margin-bottom: 8px;
}

p.buttonContainer {

}

footer {
	font-style: italic;
	color: #999999;
}

table thead th {
    background-color: #f5f5f5;
}

.checkboxColumn {
	width: 25px;
}

.checkboxColumn input {
	margin-left: 5px;
}

.checkboxColumn a i.icon-ban-circle {
	margin-left: 6px;
	margin-top: 6px;
	font-size: 13pt;
	color: red;
}

.checkboxColumn a:hover {
	text-decoration: none;
}

table tbody td.tableNameColumn {
	padding-top: 14px;
}

table tbody td.tableNameColumn i.table {
	color: #006699;
}

table tbody td.tableNameColumn i.view {
	color: #888888;
}


