/*!
 * style overrides and customizations
 */

/* note that this gets overridden by bootstrap-responsive.min.css when screen size changes */
body {
	padding-top: 65px;
	padding-bottom: 40px;
}

a.brand img {
	margin: -8px 0px -8px 0px;
}

h1 {
	margin-bottom: 8px;
}

p.buttonContainer {

}

footer {
	font-style: italic;
	color: #999999;
}

table thead th {
    background-color: #f5f5f5;
}

.checkboxColumn
{
	width: 25px;
}

.checkboxColumn input
{
	margin-left: 5px;
}

.checkboxColumn i
{
	margin-left: 5px;
	margin-top: 4px;
	font-size: 12pt;
	color: red;
}